*, ::before, ::after {

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}



/* body {

    background:  #282937;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    overflow-x: hidden;

} */



.box {

    position: relative;

    color: #f1f1f1;

    cursor: pointer;
    padding: 15px 10px 15px 35px;

    /* background: red; */

    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);

}



.box a.nav-circle {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);

    font-size: 15px;

    letter-spacing: 3px;

    font-family: Righteous; 

    margin: 0 auto;  
    text-decoration: none;  

}



.circle {

    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: 3px solid #f1f1f1;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 340px;

}



@keyframes boxMagic {

    from {

        box-shadow: 

        0 0 0 #feac5e,

        0 0 0 #c779d0,

        0 0 0 #4bc0c8,

        0 0 0 #42db75;

    }

    to {

        box-shadow: 

        0 -10px 0 #feac5e,

        -10px 0 0 #c779d0,

        0 10px 0 #4bc0c8,

        10px 0 0 #42db75;

    }

}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@media screen and (min-width:600px){
    .box{
        display: none;
    }  
   
}

@media screen and (max-width: 600px) {
    
    .box{
        height: 100px;
        width: 150px;
    }

     a.navbar-brand{
        display: none;
    }

    .box a.navbar-brand{
        color: white;
    }

    .circle {
        width: 100%;
        height: 100%;
        padding-top: 50px;
    }

    .box a.navbar-brand{
        color: white;
    }

    @keyframes boxMagic {
        from {
            box-shadow: 
            0 0 0 #feac5e,
            0 0 0 #c779d0,
            0 0 0 #4bc0c8,
            0 0 0 #42db75;
        }

        to {
            box-shadow: 
            0 -6px 0 #feac5e,
            -6px 0 0 #c779d0,
            0 6px 0 #4bc0c8,
            6px 0 0 #42db75;
        }

    }

}