/*Header*/

*, body, html
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

header{
    background: url('img/bgphotshop.png')  ;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    height: 95vh;
}

.text-intro{
    padding-top: 15rem;


}

.preTxt{
    font-size: 70px;
    margin: 0;
    color: #2f2d2d;
    line-height: 0.5;
}

h1{
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan Script';
    font-weight: 700;

}


/*------------------------------NAVIGATION: la navigation va se retrecir quand on va sroller sur le contenue + animation en js */

#main-nav{
    transition: all 0.4s ease ;
}


.navbar-brand{
    font-size: 45px!important;/*passe par dessus bootstrap*/
    font-family: 'Kaushan Script!important';
}

.navbar a {
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    transition: all 0.4s ease;
}

    /* animation barre navigation: des qu'on scroll de plus de 30px= la barre va se reduire */
.navbar.opaque .navbar-brand{
    font-size: 27px!important;
    transition: all 0.4s ease;
}
.navbar.opaque a{
    font-size:18px;
    transition: all 0.4s ease;
}


/* ********************SECTION PROJETS */
.projects_section{
    min-height: calc(100vh - 89.8vh - 300px);
  }

  .project{
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(2,1fr);
    margin: 3.5rem 0;
    padding-right: 0.3rem;

  }
  img{
    margin-left: 0.7rem;
    border-radius: 10px;
  }
  .project_text{margin: 0.7rem 0.7rem;}

  /* .section_title, .section_text{
    padding-left: 30px;
  } */

  .projects.ptb_2{

    margin-top: 50px;
  }

  .btn .btn-larg{
    display: block;
    justify-content: flex-end;
  }



/****************************** MEDIA QUERY */

@media screen and (min-width: 990px){

  .project{
    width: 90%;
  }
  img{
    width: 400px;
  }
}

@media screen and (max-width: 1200px){
    /* header{
        height: 75vh;
    } */
    .preTxt{
        font-size: 40px;

    }
    h1{
        font-size: 90px;
    }
}


@media screen and (min-width:850px) and (max-width: 1250px){
  .projects.ptb_4{
    display: grid;
    grid-template-columns: (2, 1fr);

  }
  .ptb_4{
    padding: 1rem 0;
  }
}

@media screen and (max-width: 1000px){


    .threeCards{

            margin: 0 auto 30px;
        }

    .header{
        width: 100%;
    }

}

@media screen and (max-width: 800px){
    header{
        height: 75vh;
    }
    .preTxt{
        font-size: 30px;

    }
    h1{
        font-size: 71px;
    }
    .text-intro{
        padding: 100px auto;
        text-align: center;
    }
    .section_title, .section_text{
      text-align: center;
    }

}

@media screen and (max-width: 762px){
    header{
        height: 55vh;
    }
   #progress{
       padding-top : 30px;
       padding-bottom: 30px;
    }
    .preTxt{
        font-size: 20px;

    }
    h1{
        font-size: 51px;
    }
    .text-intro{
        padding: 15rem auto ;
    }
}

@media screen and (max-width: 600px ){

  html{
    width: 100%;
    margin: 0 auto;
  }

  .projects_section{
    display: block;
  }

  .project_content{
    text-align: center;
  }

  #main-nav{
    border-radius: 20px;
    padding: 10px;   
    padding: 10px 70px ;
    width: auto;
    margin: 15px 12px;   
    position: absolute;
}

  header {
    display: flex;
    margin: 55px auto;
    /* background-color: rgba(15, 255, 15, 0.5) ;      */
    background-position: 10px;
    border-radius: 20px;
    padding: 10px;   
    padding: 10px 70px ;
    width: auto;
    margin: 15px 12px;     
    text-align: center;   
}

  .project {
      display: block;
      margin: 55px auto;
      background-color: rgba(15, 255, 15, 0.9) ;     
      background-position: 10px;
      border-radius: 20px;
      padding: 15px;   
    
  }

  .cont_nav{
    width: 100%;
    height: fit-content;
  }

  .sect_tit_txt{
     background-color: rgba(230, 0, 115, 0.9) ;     
      background-position: 10px;
      border-radius: 20px;
      padding: 10px 70px ;
      width: auto;
      margin: 55px 12px 15px;     
      text-align: center; 
  }

  footer{
    background-color: rgba(255, 102, 0, 0.9) ;     
    background-position: 10px;
    border-radius: 20px;
    padding: 10px 70px ;
    width: auto;
    margin: 15px 12px;     
    text-align: center; 
  }
      

  img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
  }

  p.project_text{
    text-align: justify;
    width: 80%;
    margin: 5% auto;
  }

  h2{
    font-family: Kaushan;
  }

  h2.titre_site{
    font-size: 1.9rem;
    width: 80%;
    margin: 10px auto;
  }
 
  .text-intro{
    height: 100%;
    padding-top: 160px;
    padding-bottom: auto;
  }

  .box, .circle{
    margin-right: 40px;
    margin-left: -40px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
  }

}

@media screen and (max-width: 500px){
    header{
        height: 55vh;
    }
    /* .text-intro {
        /* padding-top: 200px;
    } */
    .text-intro a{
        transform: scale(0.8);
    }
    .navbar-brand{
        font-size: 35px!important;
    }
    .preTxt{
        font-size: 25px;
        line-height: 100%;
    }
    h1{
        font-size: 51px;
    }
 }

 @media screen and (max-width:400px){
  .text-intro {
      padding-top: 120px;
      /* padding-bottom: 200px; */
  }
  .preTxt{
      font-size: 20px; 
       
  }
  .container.cont_nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .box, .circle{
    margin-right: 50px;
    margin-left: -30px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
  }


 }