/* Reset */

*,*::before,*::after{
	box-sizing:border-box;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td,
header,footer,aside,nav,article,figure,figcaption{
	margin:0;
	padding:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:400;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:400;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}
a{
	text-decoration:none;
}
a:active,a:focus{
	outline:none;
}


/* GENERAL */
h2{
  font-size: 70px;
padding-top: 80px;
padding-bottom: 50px;
font-family: 'Kaushan Script';
}


/*Header-------------------------*/

header{
    background: url('img/bgphotshop.png')  ;
    background-size: cover;
    background-position: center;
    height: 55vh;
}

.text-intro{
    padding-top: 15rem;
    /* padding-bottom: 200px; */
    text-align: center;
}

.preTxt{
    font-size: 70px;
    margin: 0;
    color: #2f2d2d;
    line-height: 0.5;
}

h1{
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan Script';
    font-weight: 700;

}


/*------------------------------NAVIGATION: la navigation va se retrecir quand on va sroller sur le contenue + animation en js */

#main-nav{
    transition: all 0.4s ease ;
}

.navbar-brand{
    font-size: 45px!important;/*passe par dessus bootstrap*/
    font-family: 'Kaushan Script!important';
}

.navbar a {
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    transition: all 0.4s ease;
}

    /* animation barre navigation: des qu'on scroll de plus de 30px= la barre va se reduire */
.navbar.opaque .navbar-brand{
    font-size: 27px!important;
    transition: all 0.4s ease;
}
.navbar.opaque a{
    font-size:18px;
    transition: all 0.4s ease;
}


/* -A PROPOS ---------------------- */

#aPropos{
    margin-top: 30px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}
h2.about{
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: 'Kaushan Script';
  margin: 0 auto;
  width: 100%;
}

/* ---------------------------Trois icones */
#icones{
    padding-top: 75px;
    padding-bottom:75px;
    border-bottom: 1px dashed #2f2d2d;
}
.icone_titre{
  font-size: 40px;
}

/*--------------------------- 1er banniere */

#ban1{
    position: relative;
    background: url('img/banniere1.png')   ;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

/*---------------------------- Galerie */
#galerie{
    padding-bottom:100px;

}

/* .h2Photos{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Kaushan Script";
    font-size: 70px;
} */

#galerie .container p{
    padding-bottom: 40px;
}

img.img-fluid{
    height: auto;

}

h2.titre_site{

   color: #22a7f0;
}

h2{
  text-transform: capitalize;
  color: #0b5ed7;
  margin-top: 30px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

/*------------------------------- seconde banniere */

#ban2{
    position: relative;
    min-height: 300px;
    background: url(img/Banniere2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

#carouselContent{
    margin-top: 70px;
    font-size: 35px;
    color: #000;
    font-weight: 400;
}

/*-------------------------------------- Cartes prix */

.offreH{
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Kaushan Script';
}

#cartes{
    padding: 50px 0 100px 0;
}

.threeCards{
    width: 300px;
    height: 520px;
    position: relative;
    transition: 0.2s ease-in;
    box-shadow: 0px 10px 30px #000;
}

.threeCards:hover{
    transform:scale(1.1);
}

.header{
    height: 200px;
    width: 300px;
    position: relative;
    background: rgba(216, 216, 216, 0.5)
}

.header h3{
    margin: 0;
    position: relative;
    top: 130px;
    text-align: center;
    font-family: 'Lato';
    font-size: 15px;
}

h2.carte_prix{
top: 200px;
/* margin-top: 200px; */
padding-top: 10px;
text-align: center;
}

span#spanPrix{
    font-size: 30px;
    height: 50px;
}

h2.promess{
    padding-top: 50px;
}

.type{
    height: 120px;
    width: 300px;
    /* background: rgba(2,2,2,0.5); */
    background: #0d6efd;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: absolute;
    top: 0;
}

.type h2{
    margin:10 0;
    text-align: center;
    color: #fff;
    font-family: 'kaushan script ';
    font-size: 30px;
    position: relative;
    /* top: 30px; */
    padding-top: 10px
}

.details{
    background: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-family: 'Lato';
    transition: all 0.5s ease-in;

}

.details:hover{
    background: rgba(181, 208, 230, 0.1);

}

#btn {
    background: #fff;
    height: 50px;

}

#btn a {
    background: #fff;
    height: 50px;
    width: 120px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    border: 1px solid #22a7f0;
    transition: all 0.2s ease-in;
}


#btn a:hover{
    background: rgba(6,136,206,0.8);
    color: #fff;

}

/* bouton envoyer */


/* progress competences-------------------------- */

#progress{
    border-top: 1px dashed #000;
    /* border-bottom: 1px solid #000; */
    padding-top: 100px;
    padding-bottom: 100px;

}
h2.competences{
  font-size: 40px;
  padding-top: 0;
}


/* clients---------------------------- */

#clients{
    border-top: 1px dashed #000;
    border-bottom: 1px solid #0000;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*--- MEDIA QUERY---------------------- */



@media screen and (min-width: 1200px){
	.text-intro h1{
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1200px){
   
    .preTxt{
        font-size: 40px;

    }
    h1{
        font-size: 90px;
    }
}

@media screen and (max-width: 1000px){


    .threeCards{

            margin: 0 auto 30px;
        }

   

}

@media screen and (min-width: 800px){

  h1{
    font-size: 90px;
  }
  header{
    height: fit-content;
    padding: 15px;
  }
}

@media screen and (max-width: 800px){
  header{
    height: fit-content;
    padding: 15px;
  }
    .preTxt{
        font-size: 30px;

    }
    h1{
        font-size: 71px;
    }
    .text-intro{

				padding: 100px auto;
        text-align: center;
				

    }
    .section_title, .section_text{
              text-align: center;
            }


}

@media screen and (max-width: 762px){
    
   #progress{
       padding-top : 30px;
       padding-bottom: 30px;
    }
    .preTxt{
        font-size: 20px;

    }
    h1{
        font-size: 51px;
    }
    .text-intro{
      padding: 15rem auto ;
    }
    h2.competences{
      font-size: 70px;
    }
}

@media screen and (min-width: 600px){
  .text-intro{
    padding-top: 10rem  ;
  }
}

@media screen and (max-width: 600px){

 .sect_tit_txt{
    margin:15px 12px 15px;
  }

  h2.section_title.text-center{
    font-size: 40px;
    padding-top: 30px;
  }
  p.section_text{
    padding-top: 0;
  }
  h3.titre_site{
    padding-top: 20px;
  }


  .projects_section{
    display: block;
  }

  .project_content{
    text-align: center;
  }

	#main-nav{
		border-radius: 20px;
		padding: 10px;
		padding: 10px 70px ;
		width: auto;
		margin: 15px 12px;
		position: absolute;
}

	 header {
		/* display: flex; */
		/* margin: 55px auto;  */
		 background-color: rgba(15, 255, 15, 0.5);      
		 background-position: 10px; 
		border-radius: 20px;
		/* padding: 10px;*/
		/* padding: 10px 70px ; */
		 width: auto; 
		margin: 0 12px;
		/* text-align: center;   */
 } 

  .project {
      display: block;
      margin: 55px auto;
      background-color: aquamarine ;
      background-position: 10px;
      border-radius: 20px;
      padding: 15px;
  }

  .cont_nav{
    width: 100%;
    height: fit-content;
  }

  .sect_tit_txt{
     /* background-color: rgba(230, 0, 115, 0.9) ; */
      background-position: 10px;
      /* border-radius: 20px; */
      padding: 10px 70px ;
      width: auto;
      margin: 55px 12px 15px;
      text-align: center;    
  }
   

  footer{
    background-color: whitesmoke ;
    background-position: 10px;
    border-radius: 20px;
    padding: 10px 70px ;
    width: auto;
    margin: 15px 12px;
    text-align: center;
  }

  img{
    display: block;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
  }

  p.project_text{
    text-align: justify;
    width: 80%;
    margin: 5% auto;
    font-size: 20px;
  }

  /* h2{
    font-family: Kaushan;
  } */

  h2.titre_site{
    font-size: 1.9rem;
    width: 80%;
    margin: 10px auto;
  }

  .text-intro{
    height: 100%;
    padding-top: 20vh;
    padding-bottom: auto;
  }

  /* .box, .circle{
    margin-right: 40px;
    margin-left: -40px;
		display: none;
      } */
  }
 


@media screen and (max-width: 500px){

	.text-intro a{
			transform: scale(0.8);
	}
	.navbar-brand{
			font-size: 35px!important;
	}
	.preTxt{
			font-size: 25px;
			line-height: 100%;
	}
	h1{
			font-size: 51px;
	}
}


 @media screen and (max-width:420px){
   
 
    .text-intro {
        padding-top: 100px;
    }

		.container.cont_nav{
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			/* width: 100%; */
		}

    h1{
      padding-top: 20px;
      font-size: 30px;
    }
    h2.about, h2.text-center, h2.offreH, h2.competences{
      font-size: 50px;
      padding-top: 40px;
    }
		.container.cont_nav{
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    align-items: center;
	    /* width: 100%; */
	  }

		.sect_tit_txt{
			margin: 35px 0;
			height: auto;
		}

		/* .preTxt{
			font-size: 15px;
		} */
		/* .btn{
			height: 80%;
			width: 80%;
		} */


 }
